@import url("https://fonts.googleapis.com/css2?family=League+Script&family=Poppins:wght@200;400&family=Padauk:wght@700&family=Open+Sans&display=swap");



html,
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 2vh;
  
}

.main {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 15vh;
		text-align: center;
    height: 85vh;
    margin-bottom: 5vh;
    padding-bottom: 15vh;
    margin-bottom: 40vh;
}

.title {
  display: flex;
  flex-direction: column;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 5vh;
}

.section-tag {
  align-self: center;
  margin-bottom: 1.2rem;
  background-color: #fff;
  font-weight: 200;
  color: rgb(208, 62, 159);
  vertical-align: middle;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.6em 2em;
  border: 1px solid rgb(208, 62, 159);
  border-radius: 45px;
}


/*********************************
* 			      Header    				 *
**********************************/

header {
  background-color: rgb(31, 30, 87);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2;
}

header > span {
  font-family: Padauk, Arial, Helvetica, sans-serif;
  letter-spacing: 8px;
  margin-left: 10vw;
  font-size: 1.6em;
  line-height: 5rem;
  vertical-align: middle;
  text-transform: uppercase;
}

nav > a {
  color: white;
  text-decoration: none;
  margin-right: 3vw;
  line-height: 5em;
  vertical-align: middle;
}

nav > a:hover {
  color: rgb(208, 62, 159);
}

nav > a > sup {
  font-size: 1ch;
}

nav > a.active {
  color: rgb(208, 62, 159);
}

/*********************************
* 			       Home	             *
**********************************/


#home {
  margin-top: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}


#home a {
  align-self: center;
  background-color: rgb(208, 62, 159);
  font-weight: 200;
  color: white;
  vertical-align: middle;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.6em 2em;
  border: 3px solid transparent;
  border-radius: 45px;
  box-shadow: 0 0 25px rgb(208, 62, 159);
}

#home a:hover {
  color: gainsboro;
  
}

#home > a > span {
  padding-left: 2ch;
}

#home h1 {
  font-family: "League Script", cursive;
  font-size: 15vh;
  padding: 0;
  margin: 0;
}

#home h2 {
  font-size: 4vh;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

/*********************************
* 		      	Services			     *
**********************************/

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2em;
  padding-top: 15vh;
  text-align: center;
}

#services h2 {
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 2px;
}

#services .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px 0 40px;
}

#services .content > .box {
  width: 25%;
  text-align: justify;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/*********************************
* 		      	Portfolio			     *
**********************************/
#portfolio {
  box-sizing: border-box;
}

#portfolio .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  height: 45vh;
  width: 70%;
  margin-top: 10vh;
  
}

.slide {
  display: none;
}

.slide > img {
  width: 100%;
}

#portfolio .cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(31, 30, 87);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 0 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(208, 62, 159, 0.8);
}

.caption-container {
  text-align: center;
  background-color: rgb(31, 30, 87);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/*********************************
* 			       Team				       *
**********************************/



#team h1 {
	margin: 0;
	padding: 0;
}

#team .content {
	display: flex;
	flex-direction: row;
  padding: 0 10vw 0 10vw;
}

#team .subtitle {
  align-self: center;
  text-align: justify;
  width: 65vw;
}
#team .person {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

#team .person > div {
	text-align: left;
}

#team h3 {
	margin: 0;
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 2px;
}

#team h4 {
	text-transform: uppercase;
}

#team .person > img {
	padding-left: 0 20px 0 20px;
	width: 180px;
	border-radius: 50%;
	align-self: flex-start;
}

#team p {
  font-family: "Open Sans", sans-serif;
}

/*********************************
* 			      Footer				     *
**********************************/

footer {
  background-color: rgb(31, 30, 87);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
  color: white;
}

footer > span {
  padding-right: 5ch;
}

footer > a > img {
  width: 3ch;
  padding-right: 1ch;
}

footer a {
  text-decoration: none;
  color: rgb(208, 62, 159);
}

footer a:hover {
  color: gainsboro;
  text-shadow: 0 0 20px rgb(208, 62, 159);
}
