nav {
  display: none;
}

#menu {
  display: block;
  z-index: 1;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}

nav.is-open {
  padding-top: 6.5vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

nav > a {
  margin: 0;
  padding: 0.5rem;
  line-height: 1.2em;
}

main a {
  border-width: 0;
  margin-top: 30px;
  padding-top: calc(0.5em + 3px);
  padding-bottom: calc(0.5em + 3px);
  width: calc(20ch + 5px);
  background: linear-gradient(90deg, blue, lightblue, turquoise);
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: normal;
  font-size: 1.2em;
  margin-top: 0.25vh;
}

.teaser {
  margin-top: 20vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.teaser > div::after {
  border: 0;
}
