.home {
    background-image: url(../images/kitten-v.jpg); 
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.2rem;
}

.subtitle > img {
    height: 1.5ch;
}

nav {
    bottom: 10vh;
    right: 10vh;
}

nav > div > a {
    font-size: 1.4rem;
    padding-right: 0.5ch;
    padding-left: 0;
}

/*  About */
.about {
    background-image: url(../images/kitten-flying-v.jpg);
    background-position: center;
}

.about > div {
    top: 10%;
    left: 5%;
    font-size: 1rem;
}

/* Schedule */
.schedule {
    font-size: 1rem;
    width: 70vw;
    left: 10%;
}

.contact {
    font-size: 1rem;
    width: 40vw;
    left: 20%;
}