@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Titillium+Web&display=swap');

body {
    background-color: #1b120f;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nosifer', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8f1d14;
    font-size: 2rem;
}
header h1 {
    margin: 0;
}

.input { 
    background-color: #e6dedd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 65%;
    border: 1px solid #1b120f;
    border-radius: 6px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

#submit {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}


.lists {
    background-color: #e6dedd;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid #1b120f;
    border-radius: 6px;
    margin-top: 20px;
}

.lists article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists div {
    width: 300px;
    margin: 30px;
    text-align: center;    
}

.lists h1 {
    font-size: 1.5rem; 
    margin: 0;
    padding: 0;
}

.lists span {
    
    padding: 0 3ch 0 3ch;
    text-transform: uppercase;
    font-size: x-small;
}

.removeButton {
    margin: 0;
    height: 1ch;
}

.removeButton:hover {
    transform: scale(2, 2);
    cursor: pointer;
}

.error {
    font-size: 1.3rem;
    padding: 2px;
    position: absolute;
    color: #8f1d14;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #e6dedd;
    padding: 10px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    border: 1px solid #1b120f;
    border-radius: 6px;
    margin-top: 20px;
    width: 65%;
    text-align: center;
    font-size: smaller;
}
