html, 
body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-top {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-top > nav > a {
    color:rgb(80, 59, 47);
    text-decoration: none;
    
}

.header-bottom {
    background-color: rgb(80, 59, 47);
    display: flex;
    justify-content: center;
}

.header-bottom a {
    color: #fff;
    text-decoration: none;
}
.gallery {
    background-image: url('../img/background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}