@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;900&family=Rubik+Mono+One&display=swap");

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  padding-left: 1.5ch;
}

a:hover {
  color: rgb(73, 134, 206);
}

a:active {
  color: rgb(73, 134, 206);
}

#current {
  color: rgb(73, 134, 206);
}

header {
  padding: 2vh 5vw 0 5vw;
  background-color: #fff;
  height: 25vh;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  color: rgba(72, 73, 75, 0.8);
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  text-decoration: none;
  padding-right: 5vw;
  padding-bottom: 1.4vw;
}

.name {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#first-name {
  color: rgb(73, 134, 206);
}

#last-name {
  color: #fff;
}

.landing-image {
  padding: 0 5vw 0 0;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
}

.main-content {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  width: 80vw;
  
}

.small-nav {
  
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.small-nav.is-visible {
  position: fixed;
  left: 2vw;
  top: 3.2vh;
  opacity: 1;
  transform: none;
  visibility: visible;
  
}

.small-nav > a {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.resume-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  padding: 25px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.icons {
  margin-top: 1rem;
  padding: 0;
  width: 1.6rem;
}

.main-content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

#bio-header > p {
  font-size: 1rem;
}

#bio-right {
  display: flex;
  flex-direction: column;
  align-items: centerxs;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgba(72, 73, 75, 0.8);
  border-width: 5px;
  width: 60vw;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  height: 1000px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
}
