@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;900&family=Rubik+Mono+One&display=swap");

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  padding-left: 1.5ch;
}

a:hover {
  color: rgb(46, 102, 176);
}

a:active {
  color: rgb(46, 102, 176);
}

#current {
  color: rgb(46, 102, 176);
}

header {
  padding: 2vh 5vw 0 5vw;
  background-color: #fff;
  height: 25vh;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  color: rgba(72, 73, 75, 0.8);
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  text-decoration: none;
  padding-right: 5vw;
  padding-bottom: 1.4vw;
}

.name {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#first-name {
  color: rgb(46, 102, 176);
}

#last-name {
  color: #fff;
}

.landing-image {
  padding: 0 5vw 0 0;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
}

.main-content {
  margin-bottom: 5vh;
  margin-left: 20vw;
  width: 80vw;
  height: 100%;
}

.small-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.small-nav.is-visible {
  position: fixed;
  left: 2vw;
  top: 3vh;
  opacity: 1; 
  transform: none;
  visibility: visible;
}

.small-nav > a {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.bio {
  display: flex;
  flex-direction: row;
}

.skill-green {
  background-color: rgba(144, 238, 144, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.skill-yellow {
  background-color: rgba(255, 255, 0, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.skill-blue {
  background-color: rgba(173, 216, 230, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

img.rounded {
  height: 160px;
  width: 160px;
  margin: 25px 0 0 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
  display: inline-block;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

img.icons {
  margin-top: 1rem;
  padding: 0;
  width: 1.6rem;
}

img.icons:hover {
  box-shadow: 0 0 25px rgb(46, 102, 176);
}

.main-content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.bio > p {
  font-size: 1rem;
}

.bio > h2 {
  margin: 0;
  padding: 0;
}

/********************************
*          Portfolio            *
********************************/

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery a {
  margin: 0;
  padding: 0;
}

.current-slide {
  background-image: url(../img/portfolio/blanka.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60vw;
  height: 40vh;

}

.caption {
  width: 60vw;
  text-align: center;
  background-color:#000;
  color: #fff;
  padding: 1.5ch 0;
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.thumbnails img {
  width: 15vw;
  opacity: 0.75;
  cursor: pointer;
}

#portfolio  img:hover {
  opacity: 1;
}

hr {
  width: 60vw;
}

footer {
  height: 1000px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
}


